name: Build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x, 24.5]
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run --if-present build
            - name: Jest
              run: npm run --ignore-scripts test
            - name: Self-test
              run: |
                  echo 'fix: foo' | node bin/commitlint.js
                  node bin/lint-staged.js --version
